@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>OpenStreetMap</title>

    <!-- Implementierung der Karte-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <script>
        window.addEventListener('load', function () {
            //Serverseiteiges aufbereiten von JS Code mit Daten aus dem Datenmodell aus der Index-Seite
            @Html.Raw("const company = { lat: " + Model.CompanyLat + ", lng: " + Model.CompanyLng + " }")

            // Erstellung Kartenobjekt
            var map = L.map('map',
            {
                center: company,
                zoom: 9
            });

            // Tile Layer hinzufügen
            L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

            // Erstellung Markerobjekt
            var marker = L.marker(company).addTo(map);
            @Html.Raw("marker.bindPopup(\" <b>Standort Unternehmen</b><br>"+Model.CompanyAddress+"\").openPopup();")

            @foreach (var circle in Model.Circles)
            {
                @Html.Raw("var circles = L.circle(company, { color: '" + circle.Color + "', radius: " + circle.Radius + ", fillOpacity: 0.0 }).addTo(map);");
                @Html.Raw("circles.bindPopup('"+circle.Popup+"');");
            }
        });
    </script>

    <style>
        /* Element (Karte) für Kastenbefüllung auf 100 % der Kastengröße */
        #map
        {
            height: 100%;
        }

        /* Optional: Fenstergröße */
        html,
        body
        {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>


</head>
<body>
    <!-- Erstellung Kasten für Kartenobjekt-->
    <div id="map"></div>
</body>
</html>
